DJANGO_SECRET_KEY=admin4827986
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=itgenius_billing
DB_USER=billing_user
DB_PASSWORD=Admin@9090
DB_HOST=localhost
DB_PORT=3306

LOG_LEVEL=INFO
